* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
  }


body{
  background-color: rgba(255, 255, 255, 0.226);
}


::-webkit-scrollbar {
  display: none;
}



/*=========header==========*/

.top {
    z-index: 1000;
    background: rgba(255, 255, 255, 0.11);
    position: fixed;
    width: 100%;
    height: 0.3rem;
    padding-top: 1rem;
    margin: auto;
  }
  
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 29rem;
  }
  
  .nav ul li {
    list-style-type: none;
    display: inline-block;
  }
  
  .nav ul li a {
    color: white;
    position: relative;
    padding: 12px 19px;
    background: transparent;
    font-size: 17px;
    border: none;
    border-radius: 30px;
  }
  
  .top nav ul li a::after {
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
    height: 100%;
    width: 100%;
    background-color: #1df2f0;
    filter: blur(2em);
    opacity: 0;
    pointer-events: none;
  }
  
  .top nav ul li a:hover {
    filter: blur(0.05em);
    animation: lightBox 1s ease-in-out forwards;
  }
  
  .top nav ul li a:hover::after {
    animation: light 1s ease-in-out forwards;
  }
  

/*=========header ends==========*/

.main{
  margin-top: 3rem;
}

section .main h3{
    text-align: center;
    color: white;
}

.carousel {
  position: relative;
  z-index: 1;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
}

.carousel-item {
  --items: 10;
  --width: clamp(150px, 30vw, 300px);
  --height: clamp(200px, 40vw, 400px);
  --x: calc(var(--active) * 800%);
  --y: calc(var(--active) * 200%);
  --rot: calc(var(--active) * 120deg);
  --opacity: calc(var(--zIndex) / var(--items) * 3 - 2);
  overflow: hidden;
  position: absolute;
  z-index: var(--zIndex);
  width: var(--width);
  height: var(--height);
  margin: calc(var(--height) * -0.5) 0 0 calc(var(--width) * -0.5);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transform-origin: 0% 100%;
  box-shadow: 0 10px 50px 10px rgba(0, 0, 0, 0.5);
  background: black;
  pointer-events: all;
  transform: translate(var(--x), var(--y)) rotate(var(--rot));
  transition: transform 0.8s cubic-bezier(0, 0.02, 0, 1);
}
.carousel-item .carousel-box {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  opacity: var(--opacity);
  font-family: "Orelo-sw-db", serif;
}
.carousel-item .carousel-box:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5));
}
.carousel-item .title {
  position: absolute;
  z-index: 1;
  color: #fff;
  bottom: 20px;
  left: 20px;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  font-size: clamp(20px, 3vw, 30px);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
.carousel-item .num {
  position: absolute;
  z-index: 1;
  color: #fff;
  top: 10px;
  left: 20px;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  font-size: clamp(20px, 10vw, 80px);
}
.carousel-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}

.layout {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.layout:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 90px;
  width: 10px;
  height: 100%;
  border: 1px solid #fff;
  border-top: none;
  border-bottom: none;
  opacity: 0.15;
}
.layout .box {
  position: absolute;
  bottom: 0;
  left: 30px;
  color: white;
  transform-origin: 0% 10%;
  transform: rotate(-90deg);
  font-size: 9px;
  line-height: 1.4;
  text-transform: uppercase;
  opacity: 0.4;
}

.logo {
  position: absolute;
  z-index: 2;
  top: 28px;
  right: 28px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Orelo-sw-db", serif;
  pointer-events: all;
  color: black;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  padding-bottom: 0.1em;
}

.social {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  right: 25px;
  color: #fff;
  opacity: 0.4;
}
.social a {
  display: inline-block;
  margin-left: 3px;
}
.social svg {
  --fill: #fff;
  width: 35px;
  height: 35px;
}

.cursor {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  --size: 40px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: calc(var(--size) * -0.5) 0 0 calc(var(--size) * -0.5);
  transition: transform 0.85s cubic-bezier(0, 0.02, 0, 1);
  display: none;
  pointer-events: none;
}
@media (pointer: fine) {
  .cursor {
    display: block;
  }
}

.cursor2 {
  --size: 2px;
  transition-duration: 0.7s;
}



  
@media screen and (max-width: 991px) {
    #menu {
      z-index: 2;
    }
  
    #menu-bar {
      width: 25px;
      height: 40px;
      margin: 17px 20px 20px;
  
      cursor: pointer;
    }
  
    .bar {
      height: 5px;
      width: 100%;
      background-color: rgba(0, 255, 13, 0.87);
      display: block;
      border-radius: 5px;
      transition: 0.3s ease;
    }
  
    #bar1 {
      transform: translateY(-4px);
    }
  
    #bar3 {
      transform: translateY(4px);
    }
  
    .nav {
      transition: 0.3s ease;
      display: none;
      padding: 0;
    }
  
    .nav ul {
      padding: 0 9px;
    }
  
    .nav ul li {
      list-style-type: none;
      display: flex;
    }
  
    .nav li {
      list-style: none;
    }
  
    .nav li a {
      color: white;
      font-size: 20px;
      text-decoration: none;
    }
  
    .nav li a:hover {
      font-weight: bold;
    }
  
    .menu-bg,
    #menu {
      top: 0;
      left: 0;
      position: absolute;
    }
  
    .menu-bg {
      z-index: 1;
      width: 0;
      height: 0;
      margin: 30px 0 20px 20px;
      background: green;
      transition: 0.3s ease;
    }
  
    .change {
      display: block;
    }
  
    .change .bar {
      background-color: white;
    }
  
    .change #bar1 {
      transform: translateY(4px) rotateZ(-45deg);
    }
  
    .change #bar2 {
      opacity: 0;
    }
  
    .change #bar3 {
      transform: translateY(-6px) rotateZ(45deg);
    }
  
    .change-bg {
      width: 520px;
      height: 460px;
      transform: translate(-60%, -30%);
    }
  
   
   
    }
  
  
